.project-card {
  padding: 20px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.project-card p {
  font-size: 1rem;
}
